<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="conString" connectionString="Server=sql.athena.domainhizmetleri.com,1433; Database=kodhaber_DBKURUMSAL; Integrated Security=False;
			 User=kodhaber_company_user; Password=c5c?65x4X" providerName="System.Data.SqlClient;"
			 />       <!--Server=DESKTOP-DLPFOKN; Database=DBKURUMSAL; Integrated Security=True; bu ifadeyi kriptoladık ve yukardaki değeri elde ettik-->
		
		
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UserInterface.Properties.Settings>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
        </UserInterface.Properties.Settings>
    </userSettings>

	<appSettings>
		<add key="version" value="v 1.0.0"/>
	</appSettings>
</configuration>